.navbar .navbar-brand,.nav-link{
    color: #fff !important;
    transition: 0.1s;
}

.navbar .nav-link:hover{
    color: #333 !important;
    text-decoration: underline !important;
    cursor: pointer;
}

.navbar-fix-top{
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}